
.wrapper{
  position: absolute;
  z-index: 1000;
  background: rgba(0,0,0,.5);
  top:0;
  left:0;
  right:0;
  bottom:0;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}


.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}
.containerLoader{
  position: absolute;
  background: rgba(0,0,0,.5);
  top:0;
  left:0;
  bottom:0;
  right: 0;
  display: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.content{
  padding: 30px 30px 20px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.input{
  outline: none;
  border: 1px solid #B4B4BB;
  font-size: 18px;
  line-height: 24px;
  border-radius: 3px;
  padding: 5px 10px 5px 15px;
  width: 300px;
  &:focus{
    border: 1px solid #9DC2FF;
    box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
  }
}
.wrapperBtn{
  display: flex;
  justify-content: flex-end;
}
.label{
  font-family: "Inter", sans-serif;
  font-size: 18px;
  margin-right: 10px;
}
.button{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  padding: 5px;
  margin-top: 15px;
  line-height: 100%;
  border-color: transparent;
  background-color: #2264D1;
  color:#fff;
  border-radius: 6px;
  cursor: pointer;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.error{
  color:red;
  font-size: 14px;
  margin-top: 5px;
}
.active{
  visibility: visible;
  opacity:1;
}
.loaderActive{
  display: flex;
}
