.table{
  border:1px solid #A0A0A0;
  width: 100%;
  text-align: center;

}
.tr{
  border-bottom: 1px solid #A0A0A0;
  margin: 100px;
}
.notFound{
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}
