.passwordTitle{
    color:#2b3548;
    font-family: "Quicksand", sans-serif;
    font-size: 28px;
}
.wrapperInput{
    display: flex;
    justify-content: space-between;
}
.hr{
    margin: 30px 0;
}
.wrapperBtn{
    display: flex;
    justify-content: flex-end;
}
.save{
    font-family: 'Quicksand', sans-serif;
    line-height: 150%;
    border-color: transparent;
    background-color: #2264D1;
    color:#fff;
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}