.wrapper{
  display: flex;
  justify-content: space-between;
  position: relative;
  text-align: center;
  align-items: center;
}
.hr{
  color:#808080;
}
.header{
  box-shadow: 1px 3px 8px 0px rgba(34, 60, 80, 0.2);
  border-bottom: 1px solid #808080;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}
