.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #F7FAFC;
}
.content{
  width: 50vw;
  border: 1px solid #E7E7E7;
  background-color: #fff;
  border-radius: 4px;
  padding-bottom: 30px;
}
.title{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color:#383838;
}
.input{
  font-size: 16px;
  padding: 7px 20px;
  margin-left: 40px;
  outline: none;
  border: 1px solid #B4B4BB;
  line-height: 24px;
  border-radius: 3px;
  &:focus{
    border: 1px solid #9DC2FF;
    box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
    }
}
.wrapperInput{
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  position: relative;

}
.label{
  display: block;
  width: 130px;
  text-align: end;
}
.top{
  background-color: #F7F7F7;
  padding: 20px 0 20px 25px;
  border-bottom: 1px solid #E7E7E7;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.error{
  color:red;
  font-size: 14px;
  margin-top: 5px;
  display: block;
  position: absolute;bottom: -16px;
  left: 172px;
}
.button{
  background-color: #007EDB;
  border:transparent;
  padding: 10px;
  border-radius: 5px;
  color:#fff;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  margin:30px 0px 0px 50px;
}